@font-face {
    font-family: 'Distill Expanded';
    src: url('font.woff2') format('woff2'),
         url('font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
    overflow: hidden;
}

/* Wrapper for layout */
.wrapper {
    width: 1280px;
    height: 800px;
    transform-origin: top left;
    transform: scale(calc(min(100vw / 1280, 100vh / 800)));
    max-width: 100vw; /* Prevents overflow on wide screens */
    max-height: 100vh; /* Prevents overflow on tall screens */
}

/* Fade-in animation */
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    opacity: 0; /* Initial state is invisible */
    animation: fade-in 1s ease-in-out forwards;
}

/* Fade-in trigger */
.fade-in-trigger .fade-in {
    animation: fade-in 1s ease-in-out forwards;
}

/* Line styles */
.line {
    position: absolute;
    height: 1px;
    background-color: #e6e6e6;
}

/* Line positioning */
.original {
    top: calc(112.5 / 800 * 100vh);
    left: calc(90 / 1280 * 100vw);
    width: calc(331 / 1280 * 100vw);
}

.second {
    top: calc(260.5 / 800 * 100vh);
    left: calc(90 / 1280 * 100vw);
    width: calc(331 / 1280 * 100vw);
}

.third {
    top: calc(752 / 800 * 100vh);
    left: calc(90 / 1280 * 100vw);
    width: calc(331 / 1280 * 100vw);
}

.fourth {
    top: calc(112.5 / 800 * 100vh);
    left: calc(515 / 1280 * 100vw);
    width: calc(835 / 1280 * 100vw);
}

/* Dashed line styles */
.dashed {
    top: calc(260.5 / 800 * 100vh);
    left: calc(515 / 1280 * 100vw);
    width: calc(760 / 1280 * 100vw);
    background: linear-gradient(
        to right,
        #e6e6e6 0,
        #e6e6e6 calc(6 / 1280 * 100vw),
        #ffffff calc(6 / 1280 * 100vw),
        #ffffff calc(12 / 1280 * 100vw)
    );
    background-size: calc(12 / 1280 * 100vw) 1px;
}

.second-dashed {
    top: calc(424 / 800 * 100vh);
    left: calc(515 / 1280 * 100vw);
    width: calc(760 / 1280 * 100vw);
}

.third-dashed {
    top: calc(588 / 800 * 100vh);
    left: calc(515 / 1280 * 100vw);
    width: calc(760 / 1280 * 100vw);
}

.fourth-dashed {
    top: calc(752 / 800 * 100vh);
    left: calc(515 / 1280 * 100vw);
    width: calc(760 / 1280 * 100vw);
}

/* Time text styles */
.time-text {
    position: absolute;
    font-size: calc(14 / 800 * 100vh);
    font-family: 'Distill Expanded', sans-serif;
    color: #a1a1a1;
    letter-spacing: calc(2 / 1280 * 100vw);
}

.time-text {
    top: calc(260 / 800 * 100vh);
    left: calc(1296 / 1280 * 100vw);
}

.second-time-text {
    top: calc(423 / 800 * 100vh);
    left: calc(1296 / 1280 * 100vw);
}

.third-time-text {
    top: calc(587 / 800 * 100vh);
    left: calc(1296 / 1280 * 100vw);
}

.fourth-time-text {
    top: calc(750 / 800 * 100vh);
    left: calc(1296 / 1280 * 100vw);
}
