* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.non-fullscreen {
  background-color: #ffffff;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

/* Six layers */
.layer-one {
  position: fixed;
  top: 0;
  left: 0;
  width: 6.37vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 100;
  pointer-events: none;
}
.layer-two {
  position: fixed;
  top: 0;
  left: 28.87vw;
  width: calc(36vw - 28.87vw);
  height: 100vh;
  background-color: #ffffff;
  z-index: 100;
  pointer-events: none;
}
.layer-three {
  position: fixed;
  top: 0;
  left: 94.17vw;
  width: calc(100vw - 94.17vw);
  height: 100vh;
  background-color: #ffffff;
  z-index: 100;
  pointer-events: none;
}
.layer-four {
  position: absolute;
  top: 28.5vh;
  left: 36vw;
  width: 61vw;
  height: 55.5vh;
  background-color: #ffffff;
  z-index: 2;
  pointer-events: none;
}
.layer-five {
  position: absolute;
  top: 0;
  left: 36vw;
  width: 58.7vw;
  height: 28.4vh;
  background-color: #ffffff;
  pointer-events: none;
}
.layer-six {
  position: absolute;
  top: 84.7vh;
  left: 36vw;
  width: 58.7vw;
  height: 15.3vh;
  background-color: #ffffff;
  pointer-events: none;
}

/* Four lines */
.line {
  position: absolute;
  height: 1px;
  background-color: rgba(172, 172, 172, 0.841);
}
.original {
  top: 12.5vh;
  left: 6.38vw;
  width: 22.48vw;
}
.second {
  top: 28.5vh;
  left: 6.38vw;
  width: 22.48vw;
}
.third {
  top: 84vh;
  left: 6.38vw;
  width: 22.48vw;
}
.fourth {
  top: 12.5vh;
  left: 36vw;
  width: 57.8vw;
  z-index: 1;
}
